<!--LOGIN SECTION-->
<div class="container" *ngIf="passBlock == true">
  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>UserName *</mat-label>
        <input matInput type="text" [(ngModel)]="userName" [disabled]="displayLoginError == true">
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Password *</mat-label>
        <input matInput type="text" [(ngModel)]="password" [disabled]="displayLoginError == true">
      </mat-form-field>
    </div>
  </div>

  <div class="btnContainer">
    <div>
      <button id="submitBtn" mat-flat-button type="button" color="primary" (click)="login()" [disabled]="displayLoginError == true">Login</button>
    </div>
  </div>
</div>


<!--ERROR MESSAGE-->
  <div class="container" *ngIf="displayLoginError == true">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <mat-card class="mat-elevation-z8 ModalCard">
          <div>
            <div class="row">
              <div class="col-12 cancelDiv">
                <button mat-icon-button id="modalCancelBtn" (click)="modalCancel()"><i class="material-icons">cancel</i></button>

              </div>
              <div class="col-12 bannerDiv">
                <i class="material-icons bannerIcon">error_outline</i>
              </div>
            </div>
            <div class="row">
              <div class="col-12 contentDiv">
                <p class="contentMsg">{{userErr}}</p>
                <p class="contentMsg">{{passErr}}</p>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>


<!--ADMIN CONTENT-->
<div class="container" *ngIf="passBlock == false">
  <div class="row">
    <p>Test</p>
  </div>
</div>