@import '../../styleTheme.scss'; 

.fullWidth{
    width:100%;
}

.mainBody{
    height: 100%;
    width: 100%;
    background-color: $color-whitesmoke;
    position: absolute;
    top: 0;
    left: 0;
}

// #pagecontentBlock{
//     .container{
//         background-color: white;
//     }
// }

#submitBtn{
    top: 25%;
}

.btnContainer{
    text-align: center;
    div{
        margin: 0 auto; 
        display: inline-block;
        border-radius: 4px;
    }
}

table {
    width: 96%;
    margin: 0 auto;
  }

// #pagecontentBlock{
//     width: 100%;
//     margin-top: 40px;
// }

.offsetTop{
    margin-top: 40px;
}



.ModalCard{
    position: relative;
    top: 25%;
    z-index: 140;
    .bannerDiv{
        text-align: center;
        i.bannerIcon{
            font-size: 1000%;
            color: $color-warn;
        }
    }
    .contentDiv{
        text-align: center;
        p.contentMsg{
            font-size: 18pt;
        }
    }
    .cancelDiv{
        text-align: right;
        i{
            opacity: 0.75;
        }
    }
}