$color-warn: #ea4040; //rgb(255,223,199)
$color-very-pale-orange: #ffdfc7;
$color-bootstrap-yellow: #ffc107; //rgb(255,193,7)
$color-orange: #f0ad4e; //rgb(240,173,78)
$color-success: #5cb85c; //rgb(92,184,92)